.cardWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    .catCard {
        width: 275px;
        height: 279px;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        outline: 5px solid white;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .desc{
            font-weight: 300;
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .title{
            font-weight: 500;
            font-size: 24px;
            position: absolute;
            top: 36px;
            left: 12px;
            color: white;
            font-size: 20px!important;
        }
    }
}