

.featured {
    width: 100%;
    margin-top: 64px;
    background: #008BDC;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 450px;
        overflow: hidden;
        justify-content: space-between;

        .left {
            flex: 1;
            /* border: 2px solid white; */
            color: white;
            padding: 20px 0;

            h1 {
                padding: 10px;

                i {
                    color: red;
                }

                text-align: center;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: center;

                .searchInput {
                    display: flex;
                    border: 1px solid #008BDC;
                    width: 417px;
                    background: white;
                    border-radius: 40px;

                    img {
                        width: 26px;
                        position: absolute;
                        right: 21px;
                        top: 22%;
                    }

                    input[type=text] {
                        padding: 12px 10px;
                        font-size: 16px;
                        width: 100%;
                        border-radius: 50px;
                        outline: none;
                        border: none;
                    }

                    position: relative;
                }
            }

            .popular {
                display: flex;
                justify-content: center;
                padding: 10px 0;
                align-items: center;

                button {
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    padding: 6px;
                    margin: 0 4px;
                    text-align: center;
                    cursor: pointer;
                    font-weight: 500;
                }

                margin-top: 12px;
            }
        }

        .right {
            /* flex: 1; */
            width: 450px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            /* border: 2px solid orange; */
            img {
                display: flex;
                width: 100%;
                object-fit: contain;
            }
        }
        @media screen and (max-width:1010px) {
            &{
                padding: 0 7px;
                height: unset;
            }
            .right{
                width: 359px;
            }
        }
        @media screen and (max-width:890px) {
            .right{
                display: none;
            }
            &{
                height: 350px;
            }
        }
        @media screen and (max-width:560px) {
            .left h1 {
                padding: 10px 1px;
                font-size: 28px;
            }
            .left .search .searchInput {
                width: 80%;}
                .left .popular {
                    flex-wrap: wrap;}
                    .left .popular button {
                        margin: 4px;}
        }
        @media screen and (max-width:400px) {
            .left h1 {
                padding: 10px 1px;
                font-size: 23px;
            }  
        }
    }
    @media screen and (max-width:600px) {
        &{
            margin-top: 56px;
        }
    }
}