h2.smtitle {
    color: black;
    padding: 10px;
}
.options {
    padding: 12px 18px;
    box-shadow: 0 0 1px rgba(0,0,0,0.234);
}
.option {
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: #464040;
}
.listContainer{
    width: 250px;
    color: white;
    height: 100vh;
}